h2 {
  color: $very-Dark-Grayish-Blue;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: $spacing-300;
}
p {
  font-size: 13px;
  color: $Desaturated-Dark-Grayish-Blue;
}
strong {
  font-weight: 500;
  color: $very-Dark-Grayish-Blue;
}
time {
  font-size: 13px;
  color: $Grayish-Blue;
  font-weight: 300;
}
